{% extends 'base.html.twig' %}

{%  block body %}
        <div class="container pt-5">

           <div>
                 {% block fos_user_content %}
                 {% endblock fos_user_content %}
           </div>

        </div>

{% endblock %}

