{% extends 'base.html.twig' %}

{% block body %}

    <div class="container pt-5">
        <p>Page Ajouter une bièrer</p>
    </div>


{% endblock %}

{% block stylesheets %}
    <style>

    </style>
{% endblock %}
