{% extends 'base.html.twig' %}

{% block body %}

    <div class="container pt-5">
        <p>Page Update Bierer</p>
    </div>

{% endblock %}

{% block stylesheets %}
    <style>

    </style>
{% endblock %}
